* {
  margin: 0px;
  padding: 0px;
}

.main-header {
  height: 100px;
  width: 100%;
  background-color: rgb(135, 206, 235);
  z-index: 100;
}

.hidden {
  display: none;
}

.btnContainer {
  width: 95%;
  height: 50px;
  margin: 20px 0px 0px 50px;
}

#filter {
  width: 100%;
  min-height: 130px;
  background-color: rgb(170, 170, 170);
  float: left;
  -webkit-box-shadow: inset 0px 6px 20px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 6px 20px -10px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 6px 20px -10px rgba(0, 0, 0, 1);
  font-family: "Century Gothic";
}

.filter_form {
  width: 100%;
  height: 150px;
  padding: 25px 0px 0px 50px;
}

.insert_form {
  width: 100%;
  margin-bottom: 35px;
  height: 150px;
  padding: 25px 0px 0px 50px;
}

.insert_intervention_form {
  width: 100%;
  margin-bottom: 35px;
  height: 150px;
  padding: 25px 0px 0px 50px;
}

.form-group {
  /* width: 200px; */
  height: 50px;
  margin: 10px;
  position: relative;
  float: left;
}

#content {
  width: 100%;
  min-height: 500px;
  background-color: rgb(243, 243, 243);
  float: left;
}

.content-label {
  margin: 20px 0px 40px 100px;
  width: 350px;
  float: left;
}

.content-label h1 {
  color: rgb(70, 69, 69);
  font-family: "Century Gothic";
  font-weight: bold;
}

.sort {
  width: 150px;
  float: right;
  margin: 40px 100px 0px 0px;
}

.content-of-users {
  width: 90%;
  margin: 50px auto;
  border: 2px solid black;
  border-radius: 5px;
  padding-bottom: 50px;
  font-family: "Century Gothic";
}

.content-of-users tr:nth-child(even) {
  background-color: #eee;
}

.content-of-users tr:nth-child(odd) {
  background-color: #fff;
}

.content-of-users th,
td {
  padding: 20px;
  text-align: center;
}

.content-of-users th {
  border-bottom: 2px solid black;
  background-color: rgb(135, 206, 235);
}

.footer {
  width: 100%;
  height: 100px;
  float: left;
  background-color: rgb(135, 206, 235);
  background-color: rgb(135, 206, 235);
}

/* consumer.php */

.consumer-content {
  width: 85%;
  float: left;
  margin: 10px 0px 20px 90px;
}

.consumer-form {
  width: 30%;
  float: left;
  font-family: "Century Gothic";
}

.form-update {
  margin: 5px;
}

.form-update label {
  margin: 5px;
  font-weight: bold;
}

#dialog {
  width: 300px;
  min-height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.consumer-history {
  /* background-color: chocolate; */
  min-height: 100px;
  float: right;
  border: cornflowerblue 1px solid;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.content-interventions {
  text-align: center;
  margin: 5px auto;
  font-family: "Century Gothic";
}
